.navbar a {
  display: flex;
  align-items: center;
}
.navbar a span {
  font-family: 'Cursive', sans-serif;
  font-size: 2.5rem;
  color: #F59E0B; /* Couleur dorée pour l'effet lumineux */
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}
/* Animation au survol du logo */
.navbar a:hover span {
  transform: scale(1.1);
}
/* Effet glow pour le logo */
@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(245, 158, 11, 0.8);
  }
  50% {
    text-shadow: 0 0 20px rgba(245, 158, 11, 0.8);
  }
  100% {
    text-shadow: 0 0 5px rgba(245, 158, 11, 0.8);
  }
}
.logo-glow {
  animation: glow 2s ease-in-out infinite;
  transition: all 0.3s ease;
}
.logo-glow:hover {
  animation: glow 1s ease-in-out infinite;
  transform: scale(1.05);
}
/* Autres styles */
.navbar {
  background-color: rgba(74, 63, 53, 0.9); /* Couleur semi-transparente */
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  z-index: 1000;
  backdrop-filter: blur(10px); /* Ajout de l'effet de flou */
}