#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #FFDFC3; /* Beige clair */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1200px; /* Ajuste selon la largeur que tu veux */
  margin: 0 auto; /* Centre le conteneur */
  text-align: center;
  background-color: #181818;
  border-radius: 10px;
  margin-top: 20px; /* Avant c'était 800px, maintenant ajusté */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%; /* Prend toute la largeur */
  z-index: 1000;
  background-color: #fff;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #FEA38E); /* Orange saumon */
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #F3B5A0); /* Rose pâle */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: #F6E6D0; /* Crème */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.read-the-docs {
  color: #F3B5A0; /* Rose pâle */
}
